@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
}



/* HEADER SECTION */
.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    margin-right: 16px;
}

ul {
    list-style-type: none;
    display: flex;
}

/* HERO SECTION */
.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    display: flex;
    flex-direction: column;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.button-signup {
    background-color: #3882F6;
    color:white;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 4px;
}

/* INFO SECTION */

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    align-self: center;
}

.container-info{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
    margin-bottom: 16px;

}

/* QUOTE SECTION */
.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-family: 'light italic';
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* CALL TO ACTION SECTION */
.signup {
    display: flex;
    justify-content: space-evenly;
    background-color: #3882F6;
    color: white;
}
.button-action {
    background-color: #3882F6;
    color:white;
    border-color: white;
    font-family: Roboto, sans-serif;
    border-radius: 4px;
}

/* FOOTER */
.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}