.roboto-thin {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: italic;
  }
  




body {
    font-family: 'Roboto';
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
}

.hero {
    background-color: #1F2937;
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-secondary {
    font-size: 24px;
    color: #F9FAF8;
}

.button-signup {
    background-color: #3882F6;
}

.button-action {
    background-color: #3882F6;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    margin-right: 16px;
}

ul {
    list-style-type: none;
    display: flex;
}

.footer {
    background-color: #1F2937;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-size: 'light italic';
    color: #1F2937;
}